## Assignment 1: Line Charts

* Import the file 'spanish_skiers.csv'.
* Build a Line chart of `Percent_Skiers` vs `Year` and give it a title.

In [2]:
import pandas as pd
import plotly.express as px

In [3]:
spain_skiers = pd.read_csv("../data/spanish_skiers.csv")

spain_skiers.head()

     Year  Percent_Skiers
0  2000.0             0.8
1  2001.0             0.7
2  2002.0             0.8
3  2003.0             1.0
4  2004.0             0.8

## Assignment 2: Bar Charts

* Use the ski_resorts dataframe below
* Create a Bar Chart of `TotalLifts` by `Country`
* Then, modify the chart to build a stacked barchart where the height of the bars are the sum of `SurfaceLifts`, `ChairLifts` and `GondolaLifts` (should equal `TotalLifts`) but the categories are visible.

In [5]:
ski_resorts = pd.read_csv("../data/European_Ski_Resorts.csv").drop("Unnamed: 0", axis=1)

ski_resorts.head()

,Resort,Country,HighestPoint,LowestPoint,DayPassPriceAdult,BeginnerSlope,IntermediateSlope,DifficultSlope,TotalSlope,Snowparks,NightSki,SurfaceLifts,ChairLifts,GondolaLifts,TotalLifts,LiftCapacity,SnowCannons
0,Alpendorf (Ski amedé),Austria,1980,740,52,30,81,4,115,Yes,No,22,16,11,49,75398,600
1,Soldeu-Pas de la Casa/​Grau Roig/​El Tarter/​C...,Andorra,2640,1710,47,100,77,33,210,Yes,Yes,37,28,7,72,99017,1032
2,Oberau (Wildschönau),Austria,1130,900,30,1,0,1,2,No,No,2,0,0,2,1932,0
3,Dachstein West,Austria,1620,780,42,15,33,3,51,Yes,Yes,25,8,3,36,32938,163
4,Rosa Khutor,Southern Russia,2320,940,22,30,26,21,77,Yes,No,6,11,10,27,49228,450

## Assignment 3: Bubble & Donut Charts

Using the `ski_resorts` DataFrame from Assignment 2:
* Build a bubble chart comparing `TotalLifts` to `LiftCapacity` with size as the number of `Gondola Lifts` for each country.
* Make Sure to color your dots by country

Then, identify the ski resort with the greatest total lift capacity:
* Build a Donut Chart with a slice for each lift type

## Assignment 4: Additional Formatting

* We will be modifying the lift type by country data we created in assigment 2. We just want the top 10 rows
* Center the title, and change the font color to a color of your choice
* Look up options for modifying the background of the plot and figure, change them to white
* Change the y-axis title to "Total Lifts"
* Because we changed the background color to white, change the grid line colors to black `gridcolor`="black"

In [8]:
lift_type_by_country = (
    ski_resorts
    .groupby("Country", as_index=False)
    .agg({"SurfaceLifts":"sum", "ChairLifts":"sum", "GondolaLifts":"sum", "TotalLifts":"sum"})
    .sort_values("TotalLifts", ascending=False)
    .iloc[:10]
)

## Assignment 5: Maps

Build a Choropleth Map of LiftCapacity by Country

* Use Location Mode = 'country names', which will allow you to specify the `Country` column in the locations argument. 
* Consider changing the scope to `europe`
* You will need to aggregate your dataframe to get a correct map